@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');

* {
    padding: 0px;
    margin: 0px;
    
    box-sizing: border-box;
                                                
}

nav {
    width: 100vw;
    height: 96px;
    background-color: white;
    position: fixed;
    z-index: 10;
    font-family:;
}

nav .top-navbar {
    width: 100vw;
    height: 52px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.2px solid gray;
}

nav .top-navbar .logo a{
    color: white;
}

nav .top-navbar .top-left-navbar {

    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 10px;
}

nav .top-navbar .top-left-navbar .logo {

    width: 105px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
}

nav .top-navbar .top-left-navbar select{
    border:0px;
    outline:none;
    margin: none;
    outline: none;
    position: relative;
    appearance: none;
    font-size: 0.875rem;
    font-family: "Museo-sans-rounded",sans-serif;
    font-weight: 700;
    transition: 0.4s ease;
}

nav .top-navbar .top-left-navbar select:hover {

    color: red;
}

nav .top-navbar .top-left-navbar select:hover nav .underline {

    color: red;
}

nav .top-navbar .top-left-navbar .ricerca {

    border: none;
    text-decoration: none;
    outline: none;
    width: 350px;
}

nav .top-navbar .top-right-navbar {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    gap: 1.73rem;
    
}

nav .top-navbar .top-right-navbar a{
    text-decoration: none;
    color: black;
}

nav .top-navbar .top-right-navbar a:hover{
    color: red;
    transition: 0.3s ease-in-out;
}

nav .top-navbar .top-right-navbar svg {
    display: relative;
    right: 65px;
}

nav .top-navbar .top-right-navbar div a {

    font-family: "museo-sans-rounded",sans-serif;
    font-weight: 700;
    font-size: 0.875rem;;
}

.underline {

    height: 1px;
    width: 500px;
    
    position: relative;
    left: 110px;
    bottom: 10px;
    border: black solid 1px;
}
.hover-wrap p{

    font-size: 0.875rem;
    font-weight: 700;
}
nav .bottom-navbar .menu {
    width: 100vw;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px solid gray;
}



.mynintendo-items {
    
    /*display: none;
    position: absolute;
    width: 1877px;
    height: 300px;
   */
  display: flex;
  flex-wrap: wrap;
  flex-direction: ;
  gap: 25px;
  background-color: white;
  opacity: 100;
  justify-content: center;
}

.mynintendo-logo {

    width: 100vw;
    
   
}

.cta-shop {

    display: flex;
   position: relative;
   left: 47%;
   right: 0;
   top: 13%;
   bottom: 0;
   border-radius: 5px;
   width: 115px;
   height: 48px;
   border: 1px solid red;
   background-color: white;
   font-weight: 700;
   font-size: 17px;
   align-items: center;
   justify-content: center;
}

.mynintendo-container {
    display: none;
    height: 300px;
    width: 100vw;
    background-color: white;
    position: absolute;
    left: 0;  
    flex-direction: column;
    align-items: top;
    
}

.column a {

    font-family: "museo-sans-rounded" ,sans-serif;
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: 300;
    font-size: 0.875rem;
    margin-top: 20px;
    transition: 0.4s ease;
    gap: ;
}

.column a:hover {
    
    color: red;
    
}

.column a svg {

    color: red;
}

.highlight {

    color: black;
    font-size: 15px;
    font-weight: 700;
    transition: 0.2s ease;
}

.highlight:hover {

    color: red;

}


.mynintendo-dropdown:hover .hover-wrap{

    color: red;
    transition: 0.2s ease;

}

.mynintendo-dropdown:hover .mynintendo-container {

 /*   display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 250px;
  width: 100vw;
  position: absolute;
  margin-left: 200px;
  margin-right:200px;
  background-color: white;
  top: 184px;
  left: 0px;
  opacity: 100;
  */
  display: flex;
  flex-direction: column;
  /*
  top: 96px;
  */
}




.mynintendo-dropdown:hover .cta-shop:hover {

   background-color: pink;
   transition: 0.4s ease;

}

.mynintendo-dropdown:hover .cta-shop a {

   text-decoration: none;
   color: red;

}



.mynintendo-items:hover .mynintendo-items {

    display: flex;
  
  
  height: 100px;
  width: 1067px;
  top: 100px;
  right: 350px;
  gap: 30px ;
  
}

.column  {

    gap: 200px;
    
}

.margin-column-item {

   
}

.logo-item {

width: 100vw;
height: 80px;
background-color: red;

}

.games-dropdown:hover .hover-wrap {

    color: red;
    transition: 0.4s ease;
}

.games-dropdown:hover .svg-border {

    border-radius: 3px;
    border: 1px solid lightgrey;
    
}

.games-dropdown:hover .games-items {


    display: flex;
    
}

.games-dropdown:hover .games-container{

    display: flex;
    
}


.games-container:hover .games-container{

    display: flex;
}

.games-container {

    width: 100vw;
    height: 165px;
    background-color: white;
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    justify-content: center;
    align-items: center;
}

.games-items {

    
    display: none;
    width: 961px;
    height: 155px;
    flex-direction: row;
    right: 300px;
    gap: 30px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#games-special {

    
    position: relative;
    top:9px ;
}

#specialtext-game {

    position: relative;
    top: 8px;
}

.games-items .svg-container:hover .games-button-highlight {
    color: red;
    transition: red 0.4 ease;
}

.game-item a {

    text-decoration: none;
    color: black;
    text-align: center;
}

.games-items .svg-container button {

    background-color: white;
}
.games-items .svg-container button:hover {

    background-color: red;
    transition: 0.4s ease;
}

.games-items .svg-container button:hover svg {

    color: white;

}

.switch-container{

    width: 100vw;
    height: 165px;
    background-color: white;
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    justify-content: center;
    align-items: center;
}

.switch-dropdown:hover .switch-container{

    display: flex;
}

.switch-items{
/*
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 961px;
    height: 145px;
    gap: 50px;
    top: 130px;
    left: 0px;
    margin-left:442px ;
    margin-right: 442px;
    padding: 16px;
    text-align: center;
    */
    
    display: none;
    width: 961px;
    height: 155px;
    flex-direction: row;
    right: 300px;
    gap: 30px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.svg-container button {
    width: 120px;
    height: 68px;
}

.svg-container p {

    font-family: "Museo Sans rounded", sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    
}

.switch-dropdown:hover .hover-wrap{

    color: red;
    transition: 0.4s;
    
}

 .switch-dropdown:hover .switch-items {

    display: flex;
 }

.switch-item button {

    height: 68px;
    width: 120px;

}

#special-button {

    width: 255px;
    border-radius: 3px;
    border: 1px solid lightgrey;

}

.switch-items .switch-item button {

    background-color: white;
    border: 1px black solid;
}

.switch-items .switch-item:hover button {

    background-color: red   ;
    transition: 0.4s ease;
}

.switch-items .switch-item:hover svg {

    color: white;
}

#special-svg {
    background-color: white;
    color: red;
    z-index: 10;
}

.news-event .hover-wrap:hover a{
    color: red;
    transition: 0.4s ease;
}

.switch-items .switch-item:hover a {

    color: red;
    transition: 0.4s ease;
}

.switch-items .switch-item a {

    text-decoration: none;
    font-weight: 300;
    font-size: 0.875rem;
}

.switch-dropdown:hover .switch-border {
border-radius: 3px;
    border: 1px solid lightgrey;
}

.news-event .hover-wrap a {
    
    color: black;
    font-weight: 600;
    font-size: 0.875rem;
    font-family: "Museo Sans Rounded",sans-serif;
    text-decoration: none ;


}

.play-dropdown .hover-wrap a:hover {

    color: red;
    transition: 0.4s ease;
}

.play-items {
    
    display: none;
    width: 961px;
    height: 155px;
    flex-direction: row;
    right: 300px;
    gap: 30px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.play-dropdown:hover .play-container{

    display: flex;

}

.play-container{

    width: 100vw;
    height: 165px;
    background-color: white;
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    justify-content: center;
    align-items: center;
}

.switch-items .switch-item:hover a{

    color: red;
    transition: 0.4s;
}

.play-dropdown:hover .play-items {

    display: flex;
}

.play-item button {

    height: 68px;
    width: 120px;
    background-color: white;
    
}

.play-item button:hover {

    background-color: red;
    transition: 0.4s ease;
}

.play-item button:hover svg {

    color: white;
}

.play-dropdown:hover .play-border {

    border-radius: 3px;
    border: 1px solid lightgrey;
    
}

.play-items .play-item a {

    text-decoration: none;
    font-weight: 300;
    font-size: 0.875rem;
}

.play-items .play-item a:hover {

    text-decoration: none;
    font-weight: 300;
    font-size: 0.875rem;
    color: red;
}

.games-items .svg-container:hover .games-button-highlight

.play-item {

    color: red;
}
