* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:white
}

header {
width: 100%;
justify-content: center;
align-items: center;
display: flex;
padding-top: 5%;


background-color: rgb(168, 219, 168);
}

.immagine1 {
  display: flex;
  justify-content: center;
width: 100%;
}



section {
padding: 30px;
display:flex;
justify-content: center;
background-color: white;

}
.container1 {
display: flex;
align-items: center;  
justify-content: space-between;
font-size: 20px;
font-weight:lighter;
}

.container1 h2 {
margin: 0; /* Rimuove il margine predefinito dal titolo */

}

.container1 > div {
margin: 0 10px; /* Aggiunge margine orizzontale tra gli elementi */
}

.svg {
display: flex;
align-items: center;
justify-content: center;


}

.element1 {
display: flex;
align-items: center;
}

.element2 {
display: flex;
align-items: center;
}

#Bottonerosso {
padding: 20;
border-radius: 5%;
background-color: red;
color: white;
margin: 30px;
margin-right:240px;


}

/* #Bottonerosso:hover {
padding: 30;
} serve js */
